body {
  background-color: #f8f9fa;
}

@media (max-width: 767.98px) {
  td:not(:first-child) {
    min-width: 40vw;
  }

  td select {
    min-width: 45vw;
    white-space: nowrap;
  }
}

@media (min-width: 768px) {
  td:not(:first-child) {
    min-width: 20vw;
  }

  td select {
    min-width: 25vw;
  }
}

@media (min-width: 992px) {
  td:not(:first-child) {
    min-width: 15vw;
  }

  td select {
    min-width: 20vw;
  }
}

@media (min-width: 1200px) {
  td select {
    min-width: auto;
  }
}
